body {
  background-color: #cad2c5;
  font-size: 100px;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

main {
  margin: auto;
}

button {
  width: 35%;
  background-color: #cad2c5;
  color: #52796f;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 20px solid #ffffff;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.7em;
}

.center {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.nav-bar {
  vertical-align: top;
}

.heading {
  font-family: 'Suranna', serif;
  font-size: 1.5em;
  color: #2f3e46;
  margin: 0;
}

#ad-size-logo {
  max-width: 200px;
  margin: 30px;
}

#container1 {
  width: auto;
  height: 50%;
}

#select-platform-prompt {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#container2 {
  height: 50%;
}

.fade-in-image {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}