body {
  background-color: #cad2c5;
  font-size: 100px;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

main {
  margin-left: auto;
  margin-right: auto;
  height: 70%;
}

button {
  width: 30%;
  background-color: #cad2c5;
  color: #52796f;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 20px solid #ffffff;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.7em;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  vertical-align: top;
  height: 30%;
}

.thin-nav-bar {
  vertical-align: top;
  background-color: #ffffff;
  height: 3%;
}

.heading {
  font-family: 'Suranna', serif;
  font-size: 1.5em;
  color: #2f3e46;
  margin: 0;
}

.platform-list-item-div {
  height: 20%;
}

.p-standard {
  margin: 0;
  color: #2f3e46;
  font-family: 'Suranna', serif;
  font-size: 1.1em;
}

.p-alt {
  margin: 0;
  color: #52796f;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.1em;
}

.ad-dimension-main-div {
  display: block;
  margin: auto;
}

.ad-dimension-div {
  margin: 1em;
  background-color: #ffffff;
  display: block;
  border: 1px solid #ffffff;
  border-radius: 15px;
}

.ad-dimension-p {
  font-family: 'Roboto Mono', monospace;
  margin: auto;
  text-align: center;
  display: block;
  color: #52796f;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#ad-size-logo {
  width: 200px;
  margin: 30px;
}

#select-your-platform-div-1 {
  width: auto;
  height: 50%;
}

#select-platform-prompt {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
 }

#select-your-platform-div-2 {
  height: 50%;
}

.fade-in {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.fade-out {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3 ease-in-out;
}

.platform-item:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}